:root {
  --body-bg: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
  --msger-bg:linear-gradient(45deg, #9bd1c7, transparent);;
  /* --msger-bg: #f6f6f6; */

  --border: 2px solid #e6e6e6;
  --left-msg-bg: #f5f5f5;
  --right-msg-bg: #e0e0e0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin: 25px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 10px;
  background: var(--msger-bg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.msger-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: var(--border);
  background: linear-gradient(45deg, #2fa77c, #1c7089);
  color: #fff;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.msger-header-title
{
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
}
.msg-text
{
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
}
.msger-chat {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 15px;
  /* background: linear-gradient(45deg, #9bd1c7, transparent); */
  background: linear-gradient(45deg, #c3d5d2, transparent);
}

.msger-chat::-webkit-scrollbar {
  width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #e6e6e6;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-img {
  width: 29px;
  height: 29px;
  margin-right: 10px;
  background: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
  scale: 1.5;
  margin-bottom: 10px;
  margin-left: 10px;
}

.msg-bubble {
  background: var(--left-msg-bg);
  font-size: 0.9em;
  max-width: 400px;
  padding: 10px;
  border-radius: 15px;
  font-size: 0.9em;
  color: white;
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: 900;
  color: #304361;
  font-size: 0.83em;
}

.msg-info-time {
  font-size: 0.85em;
  color: #666;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 5px;
  background: #2fa77c;
  margin-left: 10px;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #000;
  border-bottom-right-radius: 5px;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  padding: 13px;
  border-top: var(--border);
  background: linear-gradient(45deg, #2fa77c, #112025);
  width: 95%;
  font-family: "Segoe UI", Arial, sans-serif;
  padding-left: 3%;
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Segoe UI", Arial, sans-serif;
}

.msger-input {
  flex: 1;
  background: #e6e6e6;
  width: 83%;
}

.msger-send-btn {
  margin-left: 10px;
  /* background: linear-gradient(45deg, #57BD88, #57BD88); */
  background: none;
  color: #2fa77c;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  border: none;
  font-size: 25px;
  padding-left: 0px;
}

.msger-send-btn:hover {
  border: none;
  /* background: linear-gradient(45deg, #2AA05F, #2AA05F); */
}

.freeze {
  background: none;
}

.freeze:disabled {

    background: none;
}


/* .msger-chat {
  background-color: linear-gradient(45deg, #2aad9542, transparent);
} */

.form-div {
  margin-bottom: 10px;
}

/* .loader {
  display: none;  Initially hide the loader 
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #555;
  animation: spin 1s linear infinite;
} */

.loader {
  display: none; /* Initially hide the loader */
  margin: 0 auto;
  width: 60px;
  text-align: center;
}

/* Styles for the dots */
.loader span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 5px;
  animation: dotAnimation 1s infinite ease-in-out;
}

.loader span:nth-child(1) {
  animation-delay: 0s;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

/* Animation keyframes */
@keyframes dotAnimation {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0);
  }
}



/* .popup {
  display: none;
  position: absolute;
  /*top: calc(65% - 10px);  Updated: position it above the icon 
  top:0;
  right: 20%; /* Added: align it to the right 
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup-content {
  text-align: center;
  height: 50%; /* Added: set the height to fill the pop-up */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.send-container {
  position: relative;
  display: inline-block;
}

.pop-up-button {
  margin-left: 0;
  background: none;
  border: none;
  padding: 0;
  font-size: 29px; /* Adjust the size as needed */
  color: #f3da35; /* Yellow color for the "on" state */
  position: absolute;
  height: 42px;
  /* margin: -3px; */
  margin-top: 7px;
  margin-left: -25px;
}

.pop-up-button.active {
  color: #f3da35; /* Yellow color for the "on" state */
}
.example {
  margin: 1%;
}
.example-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #000; /* Adjust the color and thickness as needed */
  padding-bottom: 10px; /* Adjust the spacing as needed */
  border-radius: 0; /* Remove the border-radius property */
  color: #f3da35;
}
.clear-chat {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}
.fa fa-lightbulb-o {
  padding: 0;
  top: 5%;
}
.custom-hr {
  /* border: red; */
  /* height: 2px; */
  background-color: #000;
  margin: 20px 0;
}
.tooltip {
  position: relative;
}

.tooltip:before {
  content: "Examples";
  visibility: hidden;
  background-color: #616461;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 7px;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  top: 90%;
  font-weight: bold;
  left: 130%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover:before {
  visibility: visible;
  opacity: 1;
}

.tooltip-chat {
  position: relative;
}

.tooltip-chat:before {
  content: "clear chat";
  visibility: hidden;
  background-color: #616461;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0px;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  top: 140%;
  font-weight: bold;
  right: 81%;
  transform: translateX(42%);
  opacity: 0;
  transition: opacity 0.3s;
  width: 81px;
}

.tooltip-chat:hover:before {
  visibility: visible;
  opacity: 1;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.video-container {
  width: 400px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 13px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #e2eeec;
}

.msg-bubble .video-container {
  padding: 0;
}
/* Styles for the video thumbnail */
.video-thumbnail {
  display: block;
  width: 105%;
  /* border-top-left-radius: 13px;
  border-top-right-radius: 13px; */
  padding: 0;
  margin-left: -10px;
  margin-top: 20px;
}

/* Styles for the video title */
.video-title {
  margin-top: 25px;
  font-weight: bold;
  margin-left: 5%;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 500;
  color: #e7ffea;
  

}
.video-url {
  display: block;
  text-decoration: none; /* Remove underline */
  color: #454d48;
  margin-top: 15px;
  margin-bottom: 8px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 500;
}
.video-url:hover {
  color: #454d48; /* Set color on hover */
}

.video-url:visited {
  color: #454d48; /* Set color for visited link */
}